<!-- resources/mapper/GrandparentMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jodag.mybatis.associations.GrandParentMapper">

    <resultMap id="GrandParentResultMap" type="jodag.mybatis.associations.GrandParent">
        <id property="id" column="gp_id"/>
        <result property="name" column="gp_name"/>
        <collection property="parents" resultMap="ParentResultMap"/>
    </resultMap>
</mapper>