<!-- resources/mapper/ParentMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jodag.mybatis.associations.ParentMapper">

    <resultMap id="ParentResultMap" type="jodag.mybatis.associations.Parent">
        <id property="id" column="p_id"/>
        <result property="name" column="p_name"/>
        <association property="grandParent"  resultMap="GrandParentResultMap"/>
        <collection property="children" resultMap="ChildResultMap"/>
    </resultMap>
</mapper>